# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
env/

# mygit's own data folder (don't track your VCS with itself)
.mygit/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

images/
